@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: hsl(0, 0%, 95%);
  --text: hsl(320, 9%, 9%);
  --btn-text: hsl(40, 91%, 91%);
  --primary: hsl(4, 17%, 59%);
  --success: #16a249;
  --danger: #dc2626;
  --border: hsl(159, 0%, 86%);
  --table-row: hsl(0, 0%, 90%);
  --table-text: #fdefd3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
}

input {
  border: none;
}

button {
  border: none;
}

img {
  max-width: 100%;
}

video {
  aspect-ratio: 16/9;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
  height: 40vh;
}

header h2 {
  font-size: 2rem;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.expense-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
}

input,
.add-expense {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-size: 0.8rem;
}

input:focus {
  outline: 2px solid var(--border);
}

.add-expense {
  background-color: var(--primary);
  color: var(--btn-text);
  cursor: pointer;
}

.add-expense:hover {
  opacity: 0.9;
}

main {
  height: calc(100% - 40vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4vh;
  padding: 5vh 0;
}

main h3 {
  font-size: 1.5rem;
}

.list-section {
  width: 50vw;
  padding: 2vh 1vw;
  max-height: 40vh;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.expense-list {
  width: 100%;
  border-collapse: collapse;
  color: var(--table-text);
}

.expense-list thead {
  background-color: var(--primary);
}

.expense-list tbody {
  color: var(--text);
}

.expense-list th,
.expense-list td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

.expense-list tbody tr:nth-child(2n) {
  background-color: var(--table-row);
}

.expense-list tbody tr:hover {
  background-color: #a5a5a5;
  color: var(--table-text);
}

.expense-list thead.data-empty {
  display: none;
}

.total-section {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.total-output {
  font-size: 1.2rem;
  width: 5vw;
  text-align: center;
  font-weight: 500;
  color: var(--primary);
}

.total-output:focus {
  outline: none;
}

.clear {
  padding: 1vh;
  border-radius: 3px;
  background-color: var(--danger);
  color: var(--btn-text);
  cursor: pointer;
}

.clear:hover {
  filter: brightness(1.2);
}
